.mydiv{
    margin-top: 200px;
    margin-left: 500px;
    

}
.divinput{


   
  margin-left: 400px;
}
.btn{
    
    display: block;
    margin-left: 650px;
    margin-top: 10px;
    
}
.myself{
     margin-left: 700px;
     margin-top: 70px;

}